.strategy {
	width : 80px;
	height : 80px;
	padding-top : 16px;
	padding-bottom : 4px;
	border : 1px solid gray;
	margin : 4px;
	text-align : center;
	background-color : rgb(255,252,115);	
}

.strategy:hover {
	border : 3px solid rgb(104,208,236);
	width : 76px;
	height : 76px;
}

.strategy .score {
	width : 80px;
	height : 56px;
	font-size: 32px;
}

.strategy .name {
	width : 80px;
	height : 20px;
	font-size : 13px;
}
